/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

img {
    border: 0;
}

body,html {
    min-height: 100%;
    height: 100%;
}

figure,footer,nav,section {
    display: block;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,figure {
    margin: 0;
}

a {
    background: 0 0;
}

a:focus {
    outline: dotted thin;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    margin: .67em 0;
}

code {
    font-family: monospace, serif;
    font-size: 1em;
}

svg:not(:root) {
    overflow: hidden;
}

.navbar {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
}

.navbar-container {
    border-bottom: 1px solid #EBEBEB;
}

/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/

@font-face {
    font-family: Ionicons;
    src: url(../fonts/ionicons/ionicons.eot?v=2.0.0);
    src: url(../fonts/ionicons/ionicons.eot?v=2.0.0#iefix) format("embedded-opentype"), url(../fonts/ionicons/ionicons.ttf?v=2.0.0) format("truetype"), url(../fonts/ionicons/ionicons.woff?v=2.0.0) format("woff"), url(../fonts/ionicons/ionicons.svg?v=2.0.0#Ionicons) format("svg");
    font-weight: 400;
    font-style: normal;
}

.ion,.ion-code:before,.ion-link:before,.ion-sad:before,.ion-social-chrome:before,.ion-social-css3:before,.ion-social-github:before,.ion-social-html5:before,.ion-social-twitter:before,.ionicons {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-code:before {
    content: "";
}

.ion-link:before {
    content: "";
}

.ion-sad:before {
    content: "";
}

.ion-social-chrome:before {
    content: "";
}

.ion-social-css3:before {
    content: "";
}

.ion-social-github:before {
    content: "";
}

.ion-social-html5:before {
    content: "";
}

.ion-social-twitter:before {
    content: "";
}

code[class*=language-] {
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*=language-]::-moz-selection,code[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

code[class*=language-]::selection,code[class*=language-]::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*=language-] {
        text-shadow: none;
    }
}

:not(pre)>code[class*=language-] {
    background: #f5f2f0;
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.pad {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

.interface:after,.interface:before,.navbar:after,.navbar:before,.site-footer .social-links:after,.site-footer .social-links:before,.site-footer section:after,.site-footer section:before {
    content: "";
    display: table;
}

.interface:after,.navbar:after,.site-footer .social-links:after,.site-footer section:after {
    clear: both;
}

body {
    background-color: #202B30;
    line-height: 1.5;
    font-size: 1em;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #031C2B;
}

.navbar,.site-footer section {
    max-width: 1070px;
    margin: 0 5%;
}

@media all and (min-width:1180px) {
    .navbar,  .site-footer section {
        margin: 0 auto;
    }
}

.interface {
    background-color: #fff;
}

img {
    width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4 {
    font-weight: 300;
    line-height: 1.2;
}

h1 a,h2 a,h3 a,h4 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover {
    color: #2796D8;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h6 {
    text-transform: uppercase;
    font-size: .75em;
}

a {
    color: #1577C1;
}

a:hover {
    color: #FF6A39;
}

.navbar-container {
    border-top: 10px solid #FF6A39;
}

.navbar-container:before {
    content: '';
    position: absolute;
    background-color: #F45B29;
    width: 33.33%;
    height: 10px;
    top: 0;
}

.navbar {
    padding: 1em 0;
    box-sizing: border-box;
    min-height: 60px;
}

.navbar .brand {
    width: 60%;
    float: left;
    margin-top: 3px;
}

.navbar .brand img {
    width: 100px;
}

@media all and (min-width:980px) {
    .navbar {
        padding: 2.5em 0 2em;
    }

    .navbar .brand {
        width: 15%;
        margin-top: 0;
    }

    .navbar .brand img {
        width: 150px;
    }
}

.status-page .interface {
    height: 90%;
}

.status-page-panel {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.status-page-panel .status-page-brand {
    margin: 2em 0;
}

.status-page-panel .status-page-brand img {
    width: 150px;
}

.status-page-panel img {
    width: 80px;
}

.status-page-panel h1 {
    margin: 0;
}

.status-page-panel p {
    margin: .5em 0 0;
}

.site-footer {
    font-size: .875em;
    border-top: 4px solid #FF6A39;
    color: #70858F;
}

.site-footer .footer-section {
    background-color: #1D2529;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer section {
    padding: 2em 0;
}

.site-footer section.extra-pad {
    padding: 3em 0;
}

.site-footer .brand {
    width: 100px;
}

.site-footer .social-links {
    margin-top: 1em;
}

.site-footer .social-links i {
    display: inline-block;
    margin-right: 5px;
}

.site-footer .social-links a {
    display: inline-block;
    margin-top: 1em;
    margin-right: 20px;
}

@media all and (min-width:787px) {
    .site-footer .brand {
        width: 10%;
        float: left;
    }

    .site-footer .social-links {
        width: 80%;
        float: right;
        margin-top: 0;
        text-align: right;
    }

    .site-footer .social-links a {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 0;
    }
}
